.row {
  margin-left: 20px;
  color: #fff;
}

h3 {
  margin-bottom: 10px;
}

.posters {
  display: flex;
  gap: 10px; /* Adjusts spacing between images */
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth; /* Enables smooth scrolling */
  scroll-snap-type: x mandatory; /* Snap scrolling */
}

.posters::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.poster {
  cursor: pointer;
  max-height: 250px;
  transition: transform 0.3s ease; /* Smooth hover animation */
  scroll-snap-align: center; /* Ensures snapping to the center */
}

.poster:hover {
  transform: scale(1.1);
}

.smallPoster {
  max-height: 150px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth hover animation */
  scroll-snap-align: center; /* Ensures snapping to the center */
}

.smallPoster:hover {
  transform: scale(1.1);
}
